/cars
/database
/tracks
/tutorials
/video
/drivers
*.txt
*.dat
*.dds
*.tga
*.wav
/songs1
/songs2
/shader
/settings
/music
/menu/cars
/global/atmosphere
/global/filters
/global/flares
/global/fonts
/global/map
/global/overlay
/global/particles
/global/skybox
/global/water